<h1>All locations you have been!</h1>

<%= link_to 'Add Locations You Went To', new_trip_location_path %>

<% if @locations.empty? %>
  <h3 class="text-center"> There is nothing on your list! Please enter your trip!</h3>

<% else %>

  <% @locations.each do |location| %>

  <% end %>
<% end %>
